:root {
        --main-text-color: #212121;
        --light-text-color: #757575;
        --accent-blue-color: #2196F3;
        --white-color: #ffffff;
        --black-color: #000000;
        --transp-color: rgba(255, 255, 255, 0.6);
        --accent-bg-color: #F5F4FA;
        --footer-bg-color: #2F303A;
        
        --font-w-500: 500;
        --font-w-700: 700;
        --font-w-900: 900;
        --font-sz-14: 14px;
        --font-sz-16: 16px;
        --font-sz-18: 18px;
        --font-sz-26: 26px;
        --font-sz-36: 36px;
        --font-sz-44: 44px;

        
        --let-sp02: 0.02em;
        --let-sp03: 0.03em;
        --let-sp06: 0.06em;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-sz-14);
    line-height: 1.14;
    letter-spacing: var(--let-sp03);
    color: var(--main-text-color);
    background-color: var(--white-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* Page Index.html*/
/* header  */
/* logo  */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: var(--font-w-700);
    font-size: var(--font-sz-26);
    line-height: 1.19;
    color: var(--accent-blue-color);
}

.head-logo { 
    color: var(--black-color);
}

.foot-logo {
    color: var(--white-color);
}

/* nav  */

.site-nav .link {
    font-weight: var(--font-w-500);
    letter-spacing: var(--let-sp02);
    color: var(--main-text-color);
}

.site-nav .current {
    color: var(--accent-blue-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-blue-color);
}

/* email + tel  */

.nav-contacts .link {
    font-weight: var(--font-w-500);
    letter-spacing: var(--let-sp02);
    color: var(--light-text-color);
}

.nav-contacts .link:hover,
.nav-contacts .link:focus { 
    color: var(--accent-blue-color);
}

/* main */
/* hero */

.hero {
    color: var(--white-color);
    background-color: var(--footer-bg-color);
}

.hero-title {
    font-weight: var(--font-w-900);
    font-size: var(--font-sz-44);
    line-height: 1.36;
    letter-spacing: var(--let-sp06);
    text-align: center;
    text-transform: uppercase;
}

.hero .hero-btn {
    font-family: inherit;
    font-weight: var(--font-w-700);
    font-size: var(--font-sz-16);
    line-height: 1.88;
    letter-spacing: var(--let-sp06);
    color: var(--white-color);
    background-color: var(--accent-blue-color);
    border-color: transparent;
    cursor: pointer;
}

/* section  */

.section-title {
    font-size: var(--font-sz-36);
    line-height: 1.17;
    text-align: center;
}

/* section features */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list .title {
    font-size: inherit;
    text-transform: uppercase;
}

.features-list .text {
    line-height: 1.71;
    color: var(--light-text-color);
}

/* section work  */

/* section team  */

.section.team {
    background-color: var(--accent-bg-color);
}

.team-item {
    background-color: var(--white-color);
}

.team-item .title {
    font-weight: var(--font-w-500);
    font-size: var(--font-sz-16);
    line-height: 1.19;
    text-align: center;
}

.team-item .text {
    font-size: var(--font-sz-16);
    line-height: 1.19;
    text-align: center;
    color: var(--light-text-color);
}

/* footer  */

.contacts {
    background-color: var(--footer-bg-color);
}

.contacts-list {
    font-style: normal;
    line-height: 1.71;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
    color: var(--accent-blue-color);
}

.address {
    color: var(--white-color);
}

.contacts-list .mail,
.contacts-list .tel {
    color: var(--transp-color);
}

/* Page Portfolio.html */

.galery-filter .btn {
    font-family: inherit;
    font-weight: var(--font-w-500);
    font-size: var(--font-sz-16);
    line-height: 1.62;
    letter-spacing: inherit;
    color: inherit;
    background-color: var(--accent-bg-color);
    border-color: transparent;
    cursor: pointer;
}

.galery-filter .btn.active {
    color: var(--white-color);
    background-color: var(--accent-blue-color);
}

.galery-filter .btn:hover,
.galery-filter .btn:focus { 
    color: var(--white-color);
    background-color: var(--accent-blue-color);
}

.galery-items .title {
    font-size: var(--font-sz-18);
    line-height: 2;
    letter-spacing: var(--let-sp06);
    color: var(--main-text-color);
}

.galery-items .text {
    font-size: var(--font-sz-16);
    line-height: 1.88;
    color: var(--light-text-color);
}


